Repository rustic-rs/rustic, pull requests merged in 2023-07, with the labels that each got.

#720 rest/rclone: make # of retries cusomizable and use sensible default
  changelog/new.txt
  config/full.toml
  crates/rustic_core/src/backend/rest.rs
Labels: C-enhancement, A-backends

#767 docs: Add contacts to README.md
  README.md
Labels: A-docs, A-meta

#764 refactor merge command
  crates/rustic_core/examples/merge.rs
  crates/rustic_core/src/backend/node.rs
  crates/rustic_core/src/blob/tree.rs
  crates/rustic_core/src/commands.rs
  crates/rustic_core/src/commands/merge.rs
  crates/rustic_core/src/error.rs
  crates/rustic_core/src/lib.rs
  crates/rustic_core/src/repository.rs
  src/commands/merge.rs
Labels: A-commands, C-refactor

#763 ls: Add options --summary and --long
  changelog/new.txt
  src/commands/ls.rs
Labels: C-enhancement, A-cli, A-commands

#774 refactor repair command
  crates/rustic_core/src/commands.rs
  crates/rustic_core/src/commands/repair.rs
  crates/rustic_core/src/commands/repair/index.rs
  crates/rustic_core/src/commands/repair/snapshots.rs
  crates/rustic_core/src/lib.rs
  crates/rustic_core/src/repository.rs
  src/commands/repair.rs
Labels: A-commands, C-refactor, A-core

#780 Add autocast gettingstarted file
  .github/workflows/check-and-lint.yaml
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  README.md
  config/simple.toml
  docs/screenshots/gettingstarted.gif
  docs/screenshots/gettingstarted.yaml
  docs/screenshots/rustic-restore.png
  docs/screenshots/rustic.png
Labels: A-docs, A-commands, A-examples
