Repository rustic-rs/rustic, pull requests merged in 2024-11, with the labels that each got.

#1351 build(docker): support arm64 docker image
  .github/workflows/cross-ci.yml
  .github/workflows/nightly.yml
  .github/workflows/release-cd.yml
  .github/workflows/release-image.yml
  Dockerfile
  build-dependencies.just
Labels: C-enhancement, A-build

#1303 testing: add tiny framework for testing rustic's compat with latest restic
  .github/workflows/compat.yml
  Cargo.lock
  Cargo.toml
  tests/repositories.rs
  tests/repository-fixtures/COPY.tpl
  tests/repository-fixtures/README.md
  tests/repository-fixtures/restic-repo.tar.gz
  tests/repository-fixtures/rustic-copy-repo.tar.gz
  tests/repository-fixtures/rustic-repo.tar.gz
  tests/repository-fixtures/src-snapshot.tar.gz
Labels: C-enhancement, A-compatibility, A-testing, S-waiting-for-review

#1360 refactor: use BTreeMap for env in global options
  src/config.rs
  src/snapshots/rustic_rs__config__tests__default_config_display_passes.snap
  src/snapshots/rustic_rs__config__tests__global_env_roundtrip_passes-2.snap
  src/snapshots/rustic_rs__config__tests__global_env_roundtrip_passes-3.snap
  src/snapshots/rustic_rs__config__tests__global_env_roundtrip_passes.snap
Labels: C-refactor, S-waiting-for-review, A-config

#1363 refactor: move `webdavfs` from `rustic_core` to `rustic-rs`
  Cargo.lock
  Cargo.toml
  src/commands/webdav.rs
  src/commands/webdav/webdavfs.rs
Labels: A-commands, C-refactor, A-core, A-filesystem

#1361 fix(filesystem): Use channels to communicate within webdav filesystem
  src/commands/webdav.rs
  src/commands/webdav/webdavfs.rs
Labels: C-bug, A-backends, A-commands, A-filesystem

#1365 fix(commands): Use spawn_blocking in webdav when calling rustic_core
  src/commands/webdav/webdavfs.rs
Labels: A-commands

#1368 fix: use fuse2 build dependencies
  build-dependencies.just
Labels: C-bug, A-build

#1364 feat: shut down gracefully with ctrl+c
  Cargo.lock
  Cargo.toml
  src/commands.rs
Labels: C-enhancement, A-ui-ux, S-waiting-for-review
